<!doctype html>
<!--Basic Template.  'header' sets up the buttons and banner at the top of the page.  'main' is where you should add your content.  To be altered as needed.-->
<html>
	<head>
		<title>Scrabble for the Rabble</title>
        <link rel="shortcut icon" href="./favicon.ico">
        <link href="project_template.css" type="text/css" rel="stylesheet"/>
        <script src="project_template.js"></script>
	</head>
	<body>
		<div id='header'>
			<div id='site_name'><span>S</span>crabble for the <span>R</span>abble</div>
			<button id='login_button'>Login</button>
			<button id='about_button'>About</button>
			<button id='home_button'>Home</button>
		</div>
		<div id='main'>
			<h1>User Score</h1>
			<p>Scores Unavailable: Please Refresh Page</p>
		</div>
	</body>
</html>