<!doctype html>
<!--Basic Template.  'header' sets up the buttons and banner at the top of the page.  'main' is where you should add your content.  To be altered as needed.-->
<html>
	<head>
		<title>Scrabble for the Rabble</title>
        <link rel="shortcut icon" href="static/css/favicon.ico">
        <link rel="stylesheet" href="static/css/project_template.css">
        <script src="static/javascript/project_template.js"></script>
	</head>
	<body>
		<div id='header'>
			<div id='site_name'><span>S</span>crabble for the <span>R</span>abble</div>
			<button id='login_button'>Login</button>
			<button id='about_button'>About</button>
			<button id='home_button'>Home</button>
		</div>
		<div id='main'>
			<h1>Search History</h1>
        </div>
            
            
        {% for row in search %}
            <h2 style="margin-left:auto;margin-right:auto;"> Search {{row[1]}}  {{row[2]}}</h2>
            <table style="margin-left:auto;margin-right:auto;">
                <thead>
                <tr>
                    <th>Word</th>
                    <th>Score</th>
                </tr>
                </thead>
                <tr>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                </tr>
                <tr>
                <td>{{row[5]}}</td>
                <td>{{row[6]}}</td>
                </tr>
                <tr>
                <td>{{row[7]}}</td>
                <td>{{row[8]}}</td>
                </tr>
                <tr>
                <td>{{row[9]}}</td>
                <td>{{row[10]}}</td>
                </tr>
                <tr>
                <td>{{row[11]}}</td>
                <td>{{row[12]}}</td>
                </tr>
        </table>
        
        <br>
        {% endfor %}   
		
	</body>
</html>