:root {
  /* Custom color names */
  --newspaper_white: #D9DAD9;
  --cyan_after_dark: #68A4A5;
  --spinach: #4C8055;
  --off_black: #3B373B;
}

@font-face {
	font-family: interstate_bold;
	src: url("interstate-bold.woff");
}

button {
	/* Color properties */
	background-color: var(--cyan_after_dark);

	/* Text properties */
	font-family: interstate_bold;
	font-size: 16px;
	text-transform: uppercase;
	color: var(--newspaper_white);
}

button::first-letter {
	font-size: 24px;
}

button:hover {
	color: var(--spinach);
}

body {
	/* Sizing/Positioning */
	margin: 0px;

	/* Color properties */
	background-color: var(--newspaper_white);

	/* Text properties */
	font-family: interstate_bold;
	text-transform: uppercase;
	font-size: 20px;
	color: var(--off_black);
	text-align: center;
}

#header {
	/* Sizing/Positioning */
	display: block;
	width: 100%;
	height: 60px;

	/* Color properties */
	background-color: var(--cyan_after_dark);

	/* Text properties */
	font-size: 16px;
	text-transform: uppercase;
	color: var(--newspaper_white);
}

#site_name {
	/* Sizing/Positioning */
	margin-left: 20px;
	float: left;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#site_name span {
	font-size: 24px;
}

#home_button, #about_button, #score_button, #logout_button, #login_button {
	/* Sizing/Positioning */
	margin-left: 5px;
	border: 0px;
	float: right;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#about_button {
	/* Sizing/Positioning */
	padding-left: 10px;
	padding-right: 10px;

	/* Border properties */
	border-left: 2px solid var(--newspaper_white);
	border-right: 2px solid var(--newspaper_white);
}

#login_button {
	/* Sizing/Positioning */
	margin-right: 10px;
}
