:root {
  /* Custom color names */
  --newspaper_white: #D9DAD9;
  --cyan_after_dark: #68A4A5;
  --spinach: #4C8055;
  --off_black: #3B373B;
}


@font-face {
	font-family: interstate_bold;
	src: url("interstate-bold.woff");
}


button {
	cursor: pointer;
	background-color: var(--cyan_after_dark);

	border: none;

	font-family: interstate_bold;
	font-size: 16px;
	color: var(--newspaper_white);
}

button::first-letter {
	font-size: 24px;
}

button:hover {
	color: var(--spinach);
}


body {
	margin: 0px;
	background-color: var(--newspaper_white);

	font-family: monospace;
	font-size: 20px;
	text-align: center;
	color: var(--off_black);
}


#header {
	display: block;
	height: 60px;
	background-color: var(--cyan_after_dark);

	font-family: interstate_bold;
	font-size: 16px;
	color: var(--newspaper_white);
}


#site_name {
	float: left;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 20px;
}

#site_name span {
	font-size: 24px;
}


/* Setup main buttons */
#home_button, #about_button, #search_button, #score_button, #logout_button, #login_button {
	float: right;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 5px;
}

#about_button {
	padding-left: 10px;
	padding-right: 10px;

	border-left: 2px solid var(--newspaper_white);
	border-right: 2px solid var(--newspaper_white);
}

#score_button {
	padding-left: 10px;
	padding-right: 10px;

	border-right: 2px solid var(--newspaper_white);
}

#login_button {
	margin-right: 10px;
}

#logout_button {
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 10px;

	border-right: 2px solid var(--newspaper_white);
}


h1 {
	margin-top: 50px;
    margin-bottom: 10px;
	
	font-family: interstate_bold;
	font-size: 24px;
}

#input_word {
    margin-top: 0px;
    margin-bottom: 15px;
    
    color: var(--cyan_after_dark);
    font-size: 48px;
}

#filters_used {
    font-size: 16px;
}

#filters_used span {
    color: var(--cyan_after_dark);
}

#results {
    display: grid;
    grid-template-columns: [page_left] 50% [page_middle] 50% [page_right];
    grid-template-rows: [grid_top] 50px;
    align-items: center;

    background-color: var(--newspaper_white);
 
    font-family: interstate_bold;
    font-size: 16px;
}

.result {
    margin-top: 5px;
    margin-right: 15px;
    margin-bottom: 5px;

    grid-column-start: page_left;

    text-align: right;
}

#result_label {
    margin-bottom: 5px;
    
    font-size: 24px;
    text-decoration: underline;
}

.score {
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 5px;

    grid-column-start: page_middle;

    text-align: left;
}

#score_label {
    margin-bottom: 5px;
    
    font-size: 24px;
    text-decoration: underline;
}
