<!doctype html>
<!--Login page where users will type in username and password.-->
<html>
	<head>
		<title>Scrabble for the Rabble</title>
        <link rel="shortcut icon" href="static/css/favicon.ico">
        <link rel="stylesheet" href="static/css/project_template.css">
        <script src="static/javascript/project_template.js"></script>
	</head>
	<body>
		<div id='header'>
			<div id='site_name'><span>S</span>crabble for the <span>R</span>abble</div>
			<button id='login_button'>Login</button>
			<button id='about_button'>About</button>
			<button id='home_button'>Home</button>
		</div>
		<div id='main'>
			<h1>Login</h1>
			<form class="form1" method="post" action="{{ url_for('login') }}">
      <input id="Username" name="Username" type="text" align="center" placeholder="Usernam">
      <input id="Password" name="Password" type="password" align="center" placeholder="Password">
      <div class="msg">{{ msg }}</div>
      <input type="submit" class="btn" value="Log In"></br>
                </form>
      <a href="https://scrabble-for-the-rabble.onrender.com/sign_up">Register</a>
		</div>
	</body>
</html>
