<!doctype html>
<!--page where a new user can register and create a username and password.-->
<html>
	<head>
		<title>Scrabble for the Rabble</title>
        <link rel="shortcut icon" href="static/css/favicon.ico">
        <link rel="stylesheet" href="static/css/project_template.css">
        <script src="static/javascript/project_template.js"></script>
	</head>
	<body>
		<div id='header'>
			<div id='site_name'><span>S</span>crabble for the <span>R</span>abble</div>
			<button id='login_button'>Login</button>
			<button id='about_button'>About</button>
			<button id='home_button'>Home</button>
		</div>
		<div id='main'>
			<h1>Register User</h1>
			<form action="https://scrabble-for-the-rabble.onrender.com/sign_up" method="post">
      
      <input class="un " type="text" align="center" placeholder="Username">
      <input class="pass" type="password" align="center" placeholder="Password">
      <div class="msg">{{ msg }}</div>
      <input type="submit" class="btn" value="Sign Up"></br>
                </form>
		</div>
	</body>
</html>
