<!doctype html>
<!--Basic Template.  'header' sets up the buttons and banner at the top of the page.  'main' is where you should add your content.  To be altered as needed.-->
<html>
	<head>
		<title>Scrabble for the Rabble</title>
        <link rel="shortcut icon" href="static/css/favicon.ico">
        <link rel="stylesheet" href="static/css/project_template.css">
        <script src="static/javascript/project_template.js"></script>
	</head>
	<body>
		<div id='header'>
			<div id='site_name'><span>S</span>crabble for the <span>R</span>abble</div>
			<button id='login_button'>Login</button>
			<button id='about_button'>About</button>
			<button id='home_button'>Home</button>
		</div>
		<div id='main'>
			<h1>Search History</h1>
			<p>Failed to retrieve user history</p>
		</div>
	</body>
</html>